<div class="page-header">
  <h1>Player Search</h1>
</div>

<!-- Future versions will have more search options such as position, team, and first name -->

<form action="/search/results" method="get" class="form-inline">
  <div class="form-group">
    <label for="lastNameInput">Last Name:</label>
    <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Enter last name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<p></p>
<p></p>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td class="h5">Platform   </td>
    <td class="h5">League     </td>
    <td class="h5">Player     </td>
    <td class="h5">Owner      </td>
    <td class="h5">Action      </td>

  </tr>
  <% @resultsAll.each do |league| %>
  <% @i=0  %>
  <% while @i<league[:n] %>
  <tr>
    <td><%= league[:platform] %>       </td>
    <td><%= league[:leagueName] %>     </td>
    <td><%= league[:resultsPlayers][@i] %>   </td>
    <td><%= league[:resultsAvail][@i] %>  </td>
    <td><a href="<%= league[:resultsLinks][@i] %>" target="_blank"><%= league[:resultsLinkActions][@i] %></a></td>

  </tr>
  <% @i=@i+1 %>
  <% end %>
  <% end %>
</table>

